@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*font family */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter-google);
  --font-montserrat: var(--font-montserrat-google);
  --font-poppins: var(--font-poppins-google);
  --font-playfair: var(--font-playfair-google);

  /* color */
  --color-primary-100: #0f2c4a;

  --background-image-gradient-100:
    radial-gradient(50% 50% at 50% 50%, rgba(15, 44, 74, 0.8) 0%, #0f2c4a 100%),
    #0f2c4a;

  --background-image-gradient-200: linear-gradient(
    90deg,
    #0e4a4a -10.14%,
    #02a882 53.2%,
    #a5e7f5 116.55%
  );

  --background-image-gradient-300:
    linear-gradient(90deg, #47427c -10.14%, #9a4183 53.2%, #e18ba6 116.55%),
    linear-gradient(0deg, #d43d6a 0%, #d43d6a 100%), #ffffff;

  /* Breakpoint */
  --breakpoint-xs: 480px;

  --shadow-100: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
}

@keyframes bounceX {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes leafSway {
  0%,
  100% {
    transform: rotate(var(--initial-rotate, 0deg));
  }
  25% {
    transform: rotate(calc(var(--initial-rotate, 0deg) + 3deg));
  }
  75% {
    transform: rotate(calc(var(--initial-rotate, 0deg) - 3deg));
  }
}

@keyframes rootWave {
  0%,
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  33% {
    transform: translateY(-1%) scaleX(1.01) scaleY(0.99);
  }
  66% {
    transform: translateY(1%) scaleX(0.99) scaleY(1.01);
  }
}

@keyframes flowerSway {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(2deg) scaleX(1.02) scaleY(0.99);
  }
  75% {
    transform: rotate(-2deg) scaleX(1.02) scaleY(0.99);
  }
}
